@model ShelfSpeak.Models.Book

 @if (Model != null)
    {
        <p>Title: @Model.Title</p>

        @if (!string.IsNullOrEmpty(Model.cover_url))
        {
            <img src="@Model.cover_url" alt="Book Cover" />
        }
    }
